/*Fix long dropdwon text*/
.dropdown-menu {
    width: 100%;
}

.active-tab {
    color: red;
}

.dropdown-menu li a {
    word-wrap: break-word;
    white-space: normal;
}

.progress {
    margin-bottom: 0px !important;
}

.progress-bar {
    color: #000000 !important;
    font-weight: bold;
}

thead input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}
.navbar-center{
    width: 100%;
    text-align: center;
    margin: auto
}

.sticky-chat{
    position:fixed;
    z-index:2;
    bottom:200px;
    right:50px;
}

.sticky-chat-button{
    position:fixed;
    z-index:1;
    bottom:250px;
    right:51px;
}