.sidebar{
    background-color: #FFFFFF
}
.navbar-static-top{
    background-color: #163758
}
.navbar-default .navbar-brand {
    color: #FFFFFF;
}
a {
    color: #000;
    text-decoration: none;
}
.navbar-top-links li a {
    color: #FFFFFF;
    padding: 15px;
    min-height: 50px;
}
.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
    color: #000
}

.breadcrumb > li + li::before {    
    padding: 0 5px;
    color: #B0BED9;
    content: "";
}

#wrapper{
    background-color: #222d32
}